<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                  <div class="card-header card-header-icon card-header-rose">
                    <div class="card-icon">
                      <i class="material-icons">assignment</i>
                    </div>
                    <h4 class="card-title ">QR</h4>
                  </div>
                    <div class="card-body">
                        <qrcode 
                            [qrdata]="myAngularxQrCode" 
                            [width]="256" 
                            [errorCorrectionLevel]="'M'"
                            [colorDark]="#000000ff"
                            [colorLight]="#ffffffff"
                            [elementType]="canvas"
                            [margin]=4
                            [scale]=4>
                        </qrcode>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
